<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="pokemon" type="com.mycom.myapp.PokemonVO"/>
        <typeAlias alias="User" type="com.mycom.myapp.UserVO"/>
    </typeAliases>
</configuration>